//进度详情页面公共样式 wgw
//.d-card-box {
//  padding: 20px;
//  box-sizing: border-box;
//
//  .el-card:not(:first-child) {
//    margin-top: 10px;
//  }
//}
//.d-opt-splite {
//  color: #cccccc;
//  padding: 0 5px;
//}

//项目工作台页面样式
.d-box-card {
  .card-header-name {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 22, 42, 1);
    line-height: 42px;
    padding-left: 10px;

    &::before {
      content: "";
      width: 3px;
      height: 22px;
      position: absolute;
      top: 2px;
      left: 0;
      background: #157EDF;
    }
  }

  .info-list {
    p {
      display: inline-block;
    }

    li {
      margin-top: 10px;

      p:nth-child(1) {
        width: 140px;
      }

      p:nth-child(2) {
        margin-left: 4px;
        vertical-align: top;
      }
    }
  }

  .btn-box {
    margin-top: 20px;
  }
}

.martop-10 {
  margin-top: 10px;
}