//element 重定义样式
.table-box {
  margin-top: 10px;
}
// 表格头部颜色
.el-table th {
  background:rgba(248,247,247,1);
}
.el-table thead {
  color: #00162A;
  font-weight: 700;
}
//.el-table th.is-leaf {
//  border-top: 1px solid #EBEEF5;
//}

.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
  border-right: 1px solid transparent;
}
.el-table__body-wrapper{
  border-bottom: 1px solid #EBEEF5;
}
.el-table--border td:last-child, .el-table--border th:last-child,.el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed:last-child{
  border-right: 1px solid #EBEEF5;
}

//form的label
.el-form-item__label {
  font-weight: normal;
}
.choose-input{
  width: 210px;
  margin-right: 20px;
  .el-input__inner{
    width: 210px;
  }
}

.el-table{
  /*列表 金额颜色*/
  .el-table__body .table-column-money{
    color:#F56C6C;
    font-weight: bold;
  }
  /*列表状态分类*/
  .status-success,.status-fail,.status-going,.status-other{
    position: relative;
    //padding-left: 10px;
    padding:4px 12px;
    line-height: 1;
    border-radius: 15px;
    border:1PX solid transparent;
    display: inline-block;
    &:before{
      //content: '';
      position: absolute;
      top:50%;
      transform: translate(-50%,-50%);
      left: 0px;
      background: blue;
      border-radius: 6px;
      width: 6px;
      height: 6px;
    }
  }
  .status-success{
    color: #67C23A;
    border-color: #67C23A;
  }
  .status-fail{
    color: #F56C6C;
    border-color: #F56C6C;
  }
  .status-going{
    color: #E6A23C;
    border-color: #E6A23C;
  }
  .status-other{
    color: #9b9a9a;
    border-color: #b8b8b8;
  }
  // 操作
  .operation-button-group {
    display: flex;
    justify-content: flex-start;
    .operation-button{
      border: none;
      padding: 0;
      color: #409EFF;
      background: transparent;
      i {
        font-size: 16px;
        span {
          font-size: 14PX !important;/*no*/
          padding-left: 8PX;
        }
      }
      &.el-button--primary.is-plain{
        background: transparent;
        &:hover,&:focus{
          // background: #409EFF;
          color: #409EFF;
        }
      }
      &.el-button--info.is-plain{
        color: #F56C6C;
        background: transparent;
      }
    }
    .operation-button+.operation-button{
      padding-left: 8PX;
    }
    .operation-button::after{
      content: '|';
      margin-left: 8PX;
      color: #d1d1d1;
    }
    .operation-button:last-child::after{
      content: '';
    }
  }

  //右侧滑块遮挡问题
  //.el-table__fixed-right{
  //  right: 8PX !important;/*no*/
  //}
}

@media screen and (max-width: 1366px){
  .el-table .operation-button-group {
    .operation-button{
      i {
        span {
          font-size: 12PX !important;/*no*/
            padding-left: 10px;
        }
      }
    }
  }
}