body {
  background-color: #f4f5f9;
}


.downloadA {
  color: #9FB8F8;
  cursor: pointer;
}

//全局样式
.com-page-header {
  background-color: #fff;
}

// 招标文件签章提示文字样式
.signature-styles {
  // color: red;
  padding-bottom: 20px
}

//表格搜索框样式
.com-search-box {
  padding: 20px;
}

//分页组件样式
.com-table-pagination {
  margin-top: 24PX;
  /*no*/
  padding-bottom: 10PX;
  /*no*/
}

//form样式 (和大家确认下)
.el-form-item__content {

  // line-height: 0;
  .el-input__inner {
    /*max-width: 300px;!*no *!*/
  }

  .el-select {
    display: block;
    /*max-width: 300px;!*no *!*/
  }

  .el-textarea__inner {
    /*width: 1090px;*/
  }

  .el-date-editor--daterange.el-input__inner {
    /*max-width: 380px;!*no *!*/
    width: auto;

    .el-range-separator {
      width: 10%;
    }
  }

  //区间日期
  .el-date-editor--datetimerange.el-input__inner {
    width: 100%;
  }
}

.el-date-editor.el-input {
  width: 100%;
}

// // 整行input
.allRow {
  .el-input__inner {
    width: 1090px;
  }
}

// 标题
.global-title {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;

  .global-title-box {
    width: 100%;
    height: 38px;
    // line-height: 38px;
    padding-left: 18px;
    display: flex;
    min-height: 30PX;
    /*no*/
    align-items: center;

    .global-title-name {
      font-size: 16PX;
      /*no*/
      flex: 1;
    }

    .global-title-btns {
      float: right;
      margin-right: 22px;
    }
  }

  .global-list-title-box {
    height: 50px;
    line-height: 50px;
    padding-left: 20px;

    .global-title-name {
      font-size: 16PX;
      /*no*/
    }

    .global-title-btns {
      float: right;
      margin-right: 20px;
    }
  }
}

/*form表单文字验证文字左对齐*/
.el-card__body .el-form-item--small .el-form-item__label:before {
  content: '*';
  color: transparent;
  margin-right: 4PX;
  /*no*/
}

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:before,
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
  // margin-left: 10px;
}

// input高度设置
.el-input--small .el-input__inner {
  height: 32px;
  min-height: 26PX;
  /*no*/
  line-height: 32px;
}

.el-range-editor--small .el-range__close-icon,
.el-range-editor--small .el-range__icon {
  line-height: 24px;
}

.el-range-editor--small .el-range-separator {
  line-height: 24px;
}

.el-range-editor--small.el-input__inner {
  height: 32px;
}

.el-range-editor.el-input__inner {
  padding: 3px 10px;
}

.el-input--small .el-input__icon {
  line-height: 32px;
}

// 表单头部按钮样式修改
.collapse-open-close .el-button--small,
.el-button--small.is-round {
  padding: 8PX 19PX;
  /*no*/
}

.collapse-open-close .el-button + .el-button {
  margin-left: 9PX;
  /*no*/
}

.el-button--small,
.el-button--small.is-round {
  padding: 9PX 15PX;
  /*no*/
}

.el-form-item--small .el-form-item__content,
.el-form-item--small .el-form-item__label {
  line-height: 32px;
  font-size: 14PX;
  /*no*/
}

.global-content-search .el-form-item--small .el-form-item__content,
.global-content-search .el-form-item--small .el-form-item__label {
  height: 32px;
}

.el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item {
  // margin-left: -17px;
  margin-bottom: 22px;
}

//内容
.global-content {
  //margin: 5PX 4PX 5PX 4PX;/*no*/
  margin: 20px 19px 20px 19px;
  background-color: #fff;
  /*padding-bottom: 10PX;!*no*!*/

  .global-content-search {
    padding: 20px 20PX 0px 20PX;
    /*no*/

    .shousuo {
      overflow: hidden;
      height: 0;
      transition: all 0.5s ease-in;
    }

    .collapsider {
      height: 44px;
    }

    .global-search-table-top {
      float: right;
      display: flex;
      justify-content: flex-end;
    }
  }

  .notwides-screen {
    margin-right: 0.1%;
  }

  .global-form-top-line {
    position: relative;
  }

  .global-form-top-line::after {
    content: '';
    position: absolute;
    bottom: -5PX;
    /*no*/
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px dashed #ebebeb;
  }

  .global-content-detail {
    padding: 10PX 20PX 10PX 20PX;
    /*no*/
    //margin-top:10px;
  }

  .el-card:not(:first-child) {
    margin-top: 16PX;
  }

  .global-card-header-name {
    position: relative;
    font-size: 18px;
    /*no*/
    font-weight: bold;
    //color: rgba(0, 22, 42, 1);
    //line-height: 20px;
    //padding-left: 10px;
    padding-left: 14px;
    color: #FD6720;

    &::before {
      content: "";
      width: 6px;
      height: 24px;
      position: absolute;
      top: 53%;
      transform: translate(0%, -50%);
      left: 0;
      //background: #157EDF;
      background: #FD671F;
      // box-shadow: 1px 1px 5px 0px rgba(253, 103, 31, 0.2);
      border-radius: 3px;
    }
  }

  // 列表页面收起查看更多筛选项样式相关设置
  .global-top-button {
    float: right;
  }

  .global-card-content {
    padding: 10px;

    .el-textarea__inner {
      /*width: 1386px;*/
      // height: 186px
    }
  }
}

.dark {
  .global-card-header-name {
    position: relative;
    font-size: 18px; /*no*/
    font-weight: bold;
    padding-left: 14px;
    color: #BF9765;

    &::before {
      content: "";
      width: 6px;
      height: 24px;
      position: absolute;
      top: 53%;
      transform: translate(0%, -50%);
      left: 0;
      //background: #157EDF;
      background: linear-gradient(90deg, #E2B26F, #EDCB9F);
      // box-shadow: 1px 1px 5px 0px rgba(253, 103, 31, 0.2);
      border-radius: 3px;
    }
  }
}

.wight-red, .dark-red {
  .global-card-header-name {
    position: relative;
    font-size: 18px; /*no*/
    font-weight: bold;
    padding-left: 14px;

    color: #144fba;

    &::before {
      content: "";
      width: 6px;
      height: 24px;
      position: absolute;
      top: 53%;
      transform: translate(0%, -50%);
      left: 0;
      //background: #157EDF;
      background: linear-gradient(180deg, #144FBA 0%, rgba(20, 79, 186, 0.68) 41%, rgba(20, 79, 186, 0) 100%);
      // box-shadow: 0px 2px 14px 2px rgba(255, 68, 80, 0.2);
      border-radius: 3px;
    }
  }
}

.dark-blue {
  .global-card-header-name {
    position: relative;
    font-size: 18px; /*no*/
    font-weight: bold;
    padding-left: 14px;
    color: #0084FF;

    &::before {
      content: "";
      width: 6px;
      height: 24px;
      position: absolute;
      top: 53%;
      transform: translate(0%, -50%);
      left: 0;
      //background: #157EDF;
      background: linear-gradient(90deg, #0084FF, #0084FF);
      // box-shadow: 1px 1px 5px 1px rgba(0, 132, 255, 0.2);
      border-radius: 3px;
    }
  }
}

//操作按钮分割线
.d-opt-splite {
  color: #cccccc;
  padding: 0 5px;
}

//特殊的disabled样式(项目详情里面用)
.spe-diasible.is-disabled {
  background-color: #fff !important;
  border: 1px solid #dcdfe6 !important;

  span {
    color: #606266
  }
}

input[readonly] {
  //background-color: #efefef;
  //border: none !important;
}

.commit-dia-tree {
  .el-dialog__body {
    height: 400px;
    overflow: auto;
  }
}

.el-input.is-disabled .el-input__inner,
.el-input__inner {
  color: #333;
}

.el-textarea.is-disabled .el-textarea__inner,
.el-textarea__inner {
  color: #333;
}

// .el-form-item__content .el-textarea__inner {
//   width: 695px;/*no*/
// }
/*按钮样式问题 操作*/
.flex_choose {
  .el-form-item__content {
    display: flex;

    .flex_choose_input {
      flex: 1;
      width: 100%;
      padding-right: 20px;

      .el-cascader {
        width: 100%;
      }
    }

    .flex_choose_button {
      display: inline-block;

      &.el-button--small,
      &.el-button--small.is-round {
        padding: 8px 15px;
      }
    }
  }
}

/*
查看更多选项的样式
*/
.folding_info {
  flex: 1;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  font-size: 14PX;

  span {
    cursor: pointer;
    color: #999;
  }

  i {
    color: #999;
    cursor: pointer;
  }
}

.collapse-open-close {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;

  .collapse-button {
    flex-shrink: 0;
  }
}

.slide-fade-enter-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to

  /* .slide-fade-leave-active 用于 2.1.8 以下版本 */
{
  transform: translateY(-10px);
  opacity: 0;
}

.el-button--small,
.el-button--small.is-round {
  //padding: 0.5rem 1.071429rem;
  // margin-top: 3px;
}

.el-form-item__content .el-textarea__inner {
  width: 100%;
}

.user-table_more {
  padding: 0px 0px;
}

/*详情页右侧猫点导航*/
.anchor-nav.page-detail {
  .global-content {
    padding-right: 160px;
  }
}

.fold_content {
  padding-right: 50px !important;
}

/*
自定义table无数据状态
*/

.custom-empty {
  width: 60px;
  height: 60px;
  margin: auto;
  background: url('../images/table/test.png') no-repeat;
  background-size: 100%;
  background-position: center center;
  line-height: 130px;
}

/*滑块的样式设置*/
.global-content .el-table__body-wrapper::-webkit-scrollbar-thumb {
  background: #D1D1D1;
  border: none;
  border-radius: 8px;
}

.global-content .el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
  height: 8PX;
  /*no*/
}

.global-content .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-thumb {
  width: 8PX;
  /*no*/
}

/* 滚动条 */

.global-content .el-table__body-wrapper::-webkit-scrollbar {
  //color: #000;
  background: #f1f1f1;
  margin: auto;
  border: none;
  border-radius: 0px;
}

.global-content .el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
  height: 8PX;
  /*no*/
  //width: 100%;
}

.global-content .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar {
  width: 8PX;
  /*no*/
  //height: 100%;
}

.page-crumb .el-breadcrumb__item .el-breadcrumb__separator,
.page-crumb .el-breadcrumb__item .el-breadcrumb__inner {
  font-size: 14PX !important;
  /*no*/
}

/*页面滚动条样式修改*/
.page-detail .global-content::-webkit-scrollbar-thumb,
.siderbar-box .el-menu::-webkit-scrollbar-thumb,
.el-container .el-main::-webkit-scrollbar-thumb {
  background: #D1D1D1;
  border: none;
  border-radius: 8PX;
  /*no*/
  width: 8PX;
  /*no*/
}

.page-detail .global-content::-webkit-scrollbar,
.siderbar-box .el-menu::-webkit-scrollbar,
.el-container .el-main::-webkit-scrollbar {
  //color: #000;
  background: #f1f1f1;
  margin: auto;
  border: none;
  border-radius: 0px;
  width: 8PX;
  /*no*/
}


/*
详情页固定样式统一调整
*/
.page-detail {
  position: relative;
  transform: scale(1);
  //background: #F5F6F8;
  //width:calc(100% - 0PX);/*no*/
  //transition: width 0.28s linear;
  height: 100%;
  /*no*/
  padding-top: 60px;
  box-sizing: border-box;

  .global-title {
    position: absolute;
    right: 0px;
    //top:70PX;/*no*/
    top: 0PX;
    /*no*/
    z-index: 2;
    //width:calc(100% - 200PX);/*no*/
    box-shadow: 0 1px 11px 1px #eee;
    //transition: width 0.28s linear;
  }

  .global-content {
    //padding-top: 97px;
    padding: 20px 19px 20px 19px;
    margin: 0px;
    box-sizing: border-box;
    height: 100%;
    /*no*/
    overflow-y: auto;
    background: transparent;
  }

  .el-card__header {
    padding: 15px 20px;
    //background-color: #F7F7F7;
    //line-height: 34px;
    background-color: #F9F9FB;
    height: 56PX;
    border-bottom: 1PX dashed rgba(0, 0, 0, 0.10);
  }

  .el-card__body {
    padding: 20px
  }
}

/*修改header样式问题*/
.dark.first-header {
  background-color: #fff !important;
  //background-color: #24354a !important;
  //color:#fff;
  //.pull-down,.styles{
  //  color:#333;
  //}
}

.wight.first-header {
  background-color: #fff !important;
}

/*修改左侧导航栏菜单关闭箭头方向*/
.el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  right: 5px;
  font-size: 16PX;
  -webkit-transform: rotateZ(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotateZ(-90deg);
}

.el-submenu.is-opened > .el-submenu__title .el-submenu__icon-arrow {
  -webkit-transform: rotateZ(0deg);
  -ms-transform: rotate(0deg);
  transform: rotateZ(0deg);
}

// table表格样式修改
.el-table th > .cell {
  font-size: 14PX;

  /*no*/
  span {
    font-size: 14PX !important;
    /*no*/
  }
}

.el-table .cell,
.el-table td div,
.el-table .cell {
  font-size: 14PX !important;

  /*no*/
  span {
    font-size: 14PX !important;
    /*no*/
  }
}

.dbsx .el-table .cell,
.el-table td div,
.el-table .cell {
  font-size: 14PX !important;

  /*no*/
  span {
    font-size: 14PX !important;
    /*no*/
  }
}

.el-input--small .el-input__inner,
.el-form-item--small .el-form-item__content,
.el-form-item--small .el-form-item__label,
.el-input--small {
  font-size: 14PX;
  /*no*/
}

.el-textarea.is-disabled .el-textarea__inner,
.el-textarea__inner,
.el-button--mini,
.el-button--small {
  font-size: 14PX;
  /*no*/
}

// 1366样式设置开始
@media screen and (max-width: 1366px) {

  .custom-empty {
    width: 32PX;
    /*no*/
    height: 32PX;
    /*no*/
  }

  .global-content {
    margin: 10PX 9PX;
    /*no*/
  }

  .asidecoll + .el-main {
    .page-detail {

      //width: calc(100% - 0PX); /*no*/
      .global-title {
        //width: calc(100% - 60PX); /*no*/
      }
    }
  }

  .page-detail {
    //width:calc(100% - 0PX);/*no*/
    padding-top: 45PX;

    /*no*/
    .global-title {
      //top:-72PX;/*no*/
      //width:calc(100% - 150PX);/*no*/
    }

    // .page-crumb {
    //   height:35PX !important;/*no*/
    //   line-height: 35PX  !important;/*no*/
    // }
    .page-crumb {
      .el-breadcrumb__item {

        .el-breadcrumb__separator,
        .el-breadcrumb__inner {
          font-size: 12PX !important;
          /*no*/
          // font-weight: 400;
        }
      }
    }

    .global-content {
      //padding-top: 67PX;/*no*/
      padding: 10PX 9PX 10PX 9PX;
      /*no*/
      height: 100%;
      /*no*/
    }

    /*详情页card卡片样式*/
    .el-card__header {
      padding: 10PX 10PX;

      /*no*/
      .global-card-header-name {
        font-size: 14PX;
        /*no*/
        line-height: 16PX;
        /*no*/
      }
    }

    .el-card__body {
      padding: 10PX;

      /*no*/
      .global-card-content {
        padding: 5PX;
        /*no*/
      }
    }

    .el-card:not(:first-child) {
      margin-top: 16PX;
      /*no*/
    }

  }

  .el-range-editor--small .el-range__close-icon,
  .el-range-editor--small .el-range__icon {
    line-height: 24PX;
    /*no*/
  }

  .el-range-editor--small .el-range__icon,
  .el-icon-refresh-right {
    font-size: 13PX;
    /*no*/
  }

  .el-icon-search {
    font-size: 12PX;
    /*no*/
  }

  .el-range-editor--small .el-range-separator {
    line-height: 24PX;
    /*no*/
    font-size: 12PX;
    /*no*/
  }

  .el-input--small .el-input__inner {
    font-size: 12PX;
    /*no*/
    height: 26PX;
    /*no*/
    line-height: 26PX;
    /*no*/
  }

  .el-input--small {
    font-size: 14PX;
    /*no*/
  }

  .el-range-editor--small.el-input__inner {
    height: 26PX;
    /*no*/
  }

  .el-range-editor.el-input__inner {
    padding: 1PX 10PX 0;
    /*no*/
  }

  .el-input--small .el-input__icon {
    line-height: 26PX;
    /*no*/
  }

  .el-form-item--small .el-form-item__content,
  .el-form-item--small .el-form-item__label {
    line-height: 26PX;
    /*no*/
    font-size: 12PX;
    /*no*/
  }

  .el-textarea.is-disabled .el-textarea__inner,
  .el-textarea__inner {
    font-size: 12PX;
    /*no*/
  }

  .global-content-search .el-form-item--small .el-form-item__content,
  .global-content-search .el-form-item--small .el-form-item__label {
    height: 26PX;
    /*no*/
  }

  .collapse-open-close .el-button--small,
  .el-button--small.is-round {
    padding: 6PX 12PX;
    /*no*/
  }

  .collapse-open-close .el-button + .el-button {
    margin-left: 6PX;
    /*no*/
  }

  .el-button--small,
  .el-button--small.is-round {
    padding: 6PX 8PX;
    /*no*/
  }

  .global-card-content .el-button--small,
  .el-button--small.is-round,
  .global-title-btns .el-button--small,
  .el-button--small.is-round {
    padding: 6PX 10PX;
    /*no*/
  }

  .global-title .global-title-box .global-title-name {
    font-size: 14PX;
    /*no*/
  }

  .global-title .global-list-title-box {
    height: 60px;
    line-height: 60px;

    .global-title-name {
      font-size: 12PX;
      /*no*/
      font-weight: 700;
    }
  }

  .el-form-item--mini.el-form-item,
  .el-form-item--small.el-form-item {
    // margin-left:-25PX;/*no*/
  }

  .el-button [class*=el-icon-] + span,
  .folding_info span,
  .el-pagination__total {
    font-size: 12PX;
    /*no*/
  }

  .el-pagination .el-select .el-input {

    .el-input__inner {
      font-size: 12PX !important;
      /*no*/
      // padding:4PX 4PX;/*no*/
    }
  }

  .el-pagination .el-input--mini .el-input__inner {
    height: 26PX;
    /*no*/
    line-height: 26PX;
    /*no*/
  }

  .el-pagination .el-input--mini .el-input__icon {
    line-height: 27PX;
    /*no*/
  }

  .el-button--small {
    span {
      font-size: 12PX !important;
      /*no*/
    }
  }

  .el-pagination button,
  .el-pagination span:not([class*=suffix]),
  .el-pager li,
  .el-pagination__editor.el-input .el-input__inner {
    height: 26PX;
    /*no*/
    line-height: 26PX;
    /*no*/
  }

  .el-pagination button,
  .el-pager li,
  .el-pagination__editor.el-input .el-input__inner {
    // width: 27PX;/*no*/
    padding: 0 10PX;
    /*no/
  }
  [class*=" el-icon-"], [class^=el-icon-]{
    font-size: 11PX;/*no*/
  }

  .el-table th > .cell,
  .el-table .cell {
    // color:#D00;
    font-size: 12PX !important;

    /*no*/
    span {
      font-size: 12PX !important;
      /*no*/
    }
  }

  .global-content-detail .el-button--mini span,
  .el-tabs__item {
    font-size: 12PX;
    /*no*/
  }

  .el-pagination button,
  .el-pagination span:not([class*=suffix]) {
    font-size: 12PX !important;
    /*no*/
  }

  .global-search-table-top {
    .el-button--small {
      padding: 6PX 13PX;

      /*no*/
      span {
        font-size: 12PX;
        /*no*/
      }
    }
  }

  .global-content .global-content-search .global-content-search {
    padding: 20PX 0PX 0PX 20PX;
    /*no*/
  }

  .el-range-editor--small .el-range-input,
  .el-input__suffix-inner {
    font-size: 12PX;
    /*no*/
  }

  .el-input.is-disabled .el-input__icon {
    font-size: 14PX;
    /*no*/
    margin-left: 7PX;
    /*no*/
  }

  .el-input--prefix .el-input__inner {
    padding-left: 33PX;
    /*no*/
  }

  ::v-deep.el-form-item__error {
    font-size: 12PX !important;
    /*no*/
    // font-weight: 400;
  }

  .el-checkbox__inner {
    width: 13PX;
    /*no*/
    height: 13PX;
    /*no*/
  }

  .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
    font-size: 14PX;
    /*no*/
  }
}

//table列表上分 搜索条件
.search-btnGroud {
  text-align: right;

  .search-term {
    padding-left: 15px;
    margin-left: 15px;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 0PX;
      /*no*/
      height: 100%;
      background: #ddd;
      left: 0px;
      top: 0%;
    }
  }

  .el-button + .search-term:before {
    width: 2PX;
    /*no*/
  }
}

.search-form-footer {
  text-align: right;
}

//提示功能图标样式
.info-tit {
  //表格里面用
  color: #409EFF;
  font-size: 18px;
  cursor: pointer;
  margin-right: 5px;

  &:hover {
    color: #66B1FF;
  }
}

.info-tit-form {
  //form里面用
  cursor: pointer;
  margin-left: 5px;
  vertical-align: middle;
}

//input disabled样式
.el-input.is-disabled .el-input__inner,
.el-textarea.is-disabled .el-textarea__inner {
  border: none;
  background: #ffffff;
}

.el-input.is-disabled .el-input__suffix,
.el-input.is-disabled .el-input__prefix {
  // display: none
}

.third-row .full-calendar-header .header-right span.active {
  background-color: #FD671F !important;
}

.dark .third-row .full-calendar-header .header-right span.active {
  background-color: #E4B778 !important;
}

.dark-red .third-row .full-calendar-header .header-right span.active {
  background-color: #144fba !important;
}

.wight-red .third-row .full-calendar-header .header-right span.active {
  background-color: #144fba !important;
}

.dark-blue .third-row .full-calendar-header .header-right span.active {
  background-color: #0085FE !important;
}

// 详情页按钮的颜色

.wight .global-content .el-card .el-button {
  background: #FD671F;
  border: none;
  color: #fff;
  // color: #409EFF;
  // span{
  //   padding-left: 10px;
  // }
  &.el-button--default {
    color: #FFFFFF !important;
  }

  &.el-button.is-disabled {
    filter: opacity(0.6);
  }

  &.operation-button{
    color:#409EFF;
  }
}

.dark .global-content .el-card .el-button {
  background: #E4B778;
  border: none;
  color: #fff;
  // span{
  //   padding-left: 10px;
  // }
  &.el-button--default {
    color: #FFFFFF !important;
  }

  &.el-button.is-disabled {
    filter: opacity(0.6);
  }
}

.dark-red .global-content .el-card .el-button {
  background: #144fba;
  border: none;
  color: #fff;
  // span{
  //   padding-left: 10px;
  // }
  &.el-button--default {
    color: #FFFFFF !important;
  }

  &.el-button.is-disabled {
    filter: opacity(0.6);
  }
}

.wight-red .global-content .el-card .el-button {
  background: #144fba;
  border: none;
  color: #fff;
  // span{
  //   padding-left: 10px;
  // }
  &.el-button--default {
    color: #FFFFFF !important;
  }

  &.el-button.is-disabled {
    filter: opacity(0.6);
  }
}

.dark-blue .global-content .el-card .el-button {
  background: #0085FE;
  border: none;
  color: #fff;
  // span{
  //   padding-left: 10px;
  // }
  &.el-button--default {
    color: #FFFFFF !important;
  }

  &.el-button.is-disabled {
    filter: opacity(0.6);
  }
}

.global-content .el-form-item__content .el-button--primary {
  color: #FFFFFF;
}

.global-content .el-table .operation-button {
  &.el-button--primary {
    color: #409eff !important;
  }
}


//列表
.wight .page-crumb .el-button {
  &.el-button--primary {
    background: #FD671F !important;
    border: none;
  }

  &.el-button--text {
    color: #FD671F !important;
  }
}

.wight .global-content .global-content-search {
  .el-button--primary {
    background: #FD671F !important;
    border: none;
  }

  .type-list .active {
    background: #FD671F !important;
    border: none;
  }

  .el-tabs__header {
    .el-tabs__active-bar.is-top {
      background: #FD671F;
    }

    .el-tabs__item.is-top:hover {
      color: #FD671F;
    }

    .el-tabs__item.is-top.is-active {
      color: #FD671F;
    }
  }
}

.wight .search-form-footer .el-button--primary {
  background: #FD671F !important;
  border: none;
}

.dark .page-crumb .el-button {
  &.el-button--primary {
    background: #E4B778 !important;
    border: none;
  }

  &.el-button--text {
    color: #E4B778 !important;
  }
}

.dark .global-content .global-content-search {
  .el-button--primary {
    background: #E4B778 !important;
    border: none;
  }

  .type-list .active {
    background: #E4B778 !important;
    border: none;
  }

  .el-tabs__header {
    .el-tabs__active-bar.is-top {
      background: #E4B778;
    }

    .el-tabs__item.is-top:hover {
      color: #E4B778 !important;
    }

    .el-tabs__item.is-top.is-active {
      color: #E4B778;
    }
  }
}

.dark .search-form-footer .el-button--primary {
  background: #E4B778 !important;
  border: none;
}

.dark-red .page-crumb .el-button {
  &.el-button--primary {
    background: #144fba !important;
    border: none;
  }

  &.el-button--text {
    color: #144fba !important;
  }
}

.wight-red .page-crumb .el-button {
  &.el-button--primary {
    background: #144fba !important;
    border: none;
  }

  &.el-button--text {
    color: #144fba !important;
  }
}

.dark-red .global-content .global-content-search {
  .el-button--primary {
    background: #144fba !important;
    border: none;
  }

  .type-list .active {
    background: #144fba !important;
    border: none;
  }

  .el-tabs__header {
    .el-tabs__active-bar.is-top {
      background: #144fba;
    }

    .el-tabs__item.is-top:hover {
      color: #144fba !important;
    }

    .el-tabs__item.is-top.is-active {
      color: #144fba;
    }
  }
}

.dark-red .search-form-footer .el-button--primary {
  background: #144fba !important;
  border: none;
}

.wight-red .global-content .global-content-search {
  .el-button--primary {
    background: #144fba;
    border: none;
  }

  .type-list .active {
    background: #144fba !important;
    border: none;
  }

  .el-tabs__header {
    .el-tabs__active-bar.is-top {
      background: #144fba;
    }

    .el-tabs__item.is-top:hover {
      color: #144fba !important;
    }

    .el-tabs__item.is-top.is-active {
      color: #144fba;
    }
  }
}

.wight-red .search-form-footer .el-button--primary {
  background: #144fba;
  border: none;
}

.dark-blue .page-crumb .el-button {
  &.el-button--primary {
    background: #0085FE !important;
    border: none;
  }

  &.el-button--text {
    color: #0085FE !important;
  }
}

.dark-blue .global-content .global-content-search {
  .el-button--primary {
    background: #0085FE !important;
    border: none;
  }

  .type-list .active {
    background: #0085FE !important;
    border: none;
  }

  .el-tabs__header {
    .el-tabs__active-bar.is-top {
      background: #0085FE;
    }

    .el-tabs__item.is-top:hover {
      color: #0085FE !important;
    }

    .el-tabs__item.is-top.is-active {
      color: #0085FE;
    }
  }
}

.dark-blue .search-form-footer .el-button--primary {
  background: #0085FE !important;
  border: none;
}

// 分页
.wight .el-pagination.is-background .el-pager li:not(.disabled).active {
  background: #FD671F !important;
}

.wight .el-pagination.is-background .el-pager li:not(.disabled):not(.active):hover {
  color: #FD671F !important;
}

.dark .el-pagination.is-background .el-pager li:not(.disabled).active {
  background: #E4B778 !important;
}

.dark .el-pagination.is-background .el-pager li:not(.disabled):not(.active):hover {
  color: #E4B778 !important;
}

.wight-red .el-pagination.is-background .el-pager li:not(.disabled).active {
  background: #144fba !important;
}

.wight-red .el-pagination.is-background .el-pager li:not(.disabled):not(.active):hover {
  color: #144fba !important;
}

.dark-red .el-pagination.is-background .el-pager li:not(.disabled).active {
  background: #144fba !important;
}

.dark-red .el-pagination.is-background .el-pager li:not(.disabled):not(.active):hover {
  color: #144fba !important;
}

.dark-blue .el-pagination.is-background .el-pager li:not(.disabled).active {
  background: #0085FE !important;
}

.dark-blue .el-pagination.is-background .el-pager li:not(.disabled):not(.active):hover {
  color: #0085FE !important;
}

.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
  color: rgba($color: #000000, $alpha: 0.65);
  font-weight: normal;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  color: rgba($color: #000000, $alpha: 0.85);
  font-weight: bold;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #FD671F;
  font-weight: bold;
}

.el-breadcrumb__inner.is-link:hover {
  color: #FD671F;
}

.dark {
  .el-breadcrumb__inner.is-link:hover {
    color: #E2B26F !important;
  }

  .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    color: #E2B26F;
    font-weight: bold;
  }
}

.dark-red, .wight-red {
  .el-breadcrumb__inner.is-link:hover {
    color: #144fba !important;
  }

  .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    color: #144fba;
    font-weight: bold;
  }
}

.dark-blue {
  .el-breadcrumb__inner.is-link:hover {
    color: #0085FE !important;
  }

  .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    color: #0085FE;
    font-weight: bold;
  }
}

// 弹窗按钮
.wight .el-dialog {
  .el-button--primary {
    background: #FD671F;
    border: none;
  }
}

.dark .el-dialog {
  .el-button--primary {
    background: #E4B778;
    border: none;
  }
}

.dark-red, .wight-red .el-dialog {
  .el-button--primary {
    background: #144fba;
    border: none;
  }
}

.dark-blue .el-dialog {
  .el-button--primary {
    background: #0085FE;
    border: none;
  }
}

.padding-10 {
  padding-right: 8px;
}
// 提示信息
.el-tooltip__popper.is-dark {
  background: rgba($color: #000000, $alpha: 0.75);
}

// 按钮添加hover
.search-form-footer .el-button--primary:hover {
  filter: opacity(.8);
}

.page-crumb .el-button.el-button--primary:hover {
  filter: opacity(.8);
}

.global-content .el-card .el-button:hover {
  filter: opacity(.8);
}

.el-dialog .el-button--primary:hover {
  filter: opacity(.8);
}

// 确认框
.el-message-box {
  padding-bottom: 0;

  .el-message-box__title {
    span {
      font-size: 18px;
    }
  }

  .el-message-box__btns {
    margin-bottom: 24px;
  }
}

// 分页
.global-content .global-card-content .v-pagination {
  padding-top: 24px;
}

// 弹层样式
.el-dialog {
  .el-dialog__headerbtn .el-dialog__close {
    font-size: 24px;
  }

  .el-dialog__body {
    padding-top: 16PX;
    .v-pagination{
      padding: 0;
    }
  }

  .el-form-item {
    margin-right: 32px;

    .el-form-item__label {
      // text-align: left;
      // width: auto !important;
      // padding-right: 10px;
    }

    .el-form-item__content {
      margin-left: auto !important;
      display: flex;
    }
  }
}

// 上传附件
.el-upload-list.el-upload-list--text.is-disabled {
  clear: both;
  overflow: hidden;
  .el-upload-list__item.is-success {
    &:first-child {
      margin-top: 3px;
    }
    .el-upload-list__item-name {
      width: auto;
      display: block;
      margin-right: 24px;
      float: left;
    }

    .el-upload-list__item-status-label {
      display: block;
      position: static;
      left: 0;
      right: 0;
    }
  }
}

// tab选项卡
.el-tabs__nav-wrap::after{
  background-color: rgba(0,0,0,0);
}
.el-tabs__item{
  color: rgba(0,0,0,.45);
  font-size: 18px;
  font-weight: 600;
}
// 新增图标
.iconfont.icon-xinzeng{
  font-size: 12px;
}
// 分配图标
.iconfont.icon-fenpeiquanxian{
  font-size: 24px !important;
}