// 工作台详情
.work-detial {
  // 按钮主题
  .el-button {
    height: 32PX;
    border: 0px;
    font-size: 14PX;

    .icon-padding {
      padding-right: 8px;
    }

    &.el-button--primary {
      color: #fff;
      background: linear-gradient(90deg, #bac4d4, #d6dce6);

      &:focus, &:hover, &:active {
        color: #fff;
        background: linear-gradient(90deg, #fd854d, #f3d9b8);
      }
    }

    &.is-disabled {
      color: rgba(0, 0, 0, .2);
      background: rgb(226, 229, 235, .8);

      &:focus, &:hover, &:active {
        color: rgba(0, 0, 0, .2);
        background: rgb(226, 229, 235, .8);
      }
    }
    &.el-button--small.is-round{
      padding: 8PX 15PX 9PX;
    }
  }

  .header-bg {
    .com-page-header {
      height: 277px;
      background: url("~@/assets/images/proj-manager/workbg.png") no-repeat center/cover;
    }

    // 面包屑
    .header-crumb {
      color: #fff;

      .el-breadcrumb__inner.is-link {
        color: #fff;
      }

      .el-breadcrumb__item:last-child .el-breadcrumb__inner.is-link {
        color: #fd6720;
      }
      .el-breadcrumb__inner.is-link:hover {
        color: #fd6720 !important;
      }
    }

    .detail-com-page {
      .detail-com-title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 16px;
        // line-height: 42px;
        color: #fff;
      }

      .detial--com-content {
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 24px;
        // line-height: 42px;
        text-align: center;

        .detail-flex-box {
          padding: 0 10px;
          color: #fff;

          .color-red {
            color: red;
          }
        }
      }

      .detial-btn-box > .btn-box {
        text-align: center;
      }
      .badge-chat{
        margin-left: 10PX;
        transform: translateY(-2PX);
      }
    }
  }

  .detail-translate-box {
    div[class*="d-box-card"]:not(:first-child) {
      margin-top: 32PX;
    }

    position: relative;

    .box-false {
      height: 75px;
      margin-bottom: 20PX;
    }

    .step-box {
      margin: 0;
      position: absolute;
      top: -70px;
      left: 20px;
      right: 20px;
      background-color: #fff;
      //   margin-top: 10px;
      padding: 30px 40px 50px;
      text-align: center;
      border-radius: 20px;
      box-shadow: 0px 5px 19px 2px rgba(0, 22, 42, 0.07);

      .steps-btn {
        height: 60px;
        line-height: 60px;
        width: 136px;
        display: inline-block;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        transition: all 0.3s ease-out;
        position: relative;

        .text {
          position: absolute;
          width: 100%;
          text-align: center;
          line-height: 1.7;
          left: 0px;
          bottom: -30px;
          // color: rgba(0, 0, 0, .85);
          // font-weight: 600;
          font-size: 16px;
        }
      }

      .steps-btn + .steps-btn {
        margin-left: 90px;

        &:after {
          position: absolute;
          left: -112px;
          top: 50%;
          margin-top: -1px;
          content: '';
          width: 136px;
          height: 2px;
          border-radius: 1px;
          /*background-image: linear-gradient(90deg,rgba(77,209,148,0),#4dd194) 20 20;*/
          background: -moz-linear-gradient(left, rgba(77, 209, 148, 0) 0%, #fd6720 100%);
          background: -webkit-gradient(linear, top left, top right, color-stop(0%, rgba(77, 209, 148, 0)), color-stop(100%, #fd6720));
          background: -webkit-linear-gradient(left, rgba(77, 209, 148, 0) 0%, #fd6720 100%);
          background: -o-linear-gradient(left, rgba(77, 209, 148, 0) 0%, #fd6720 100%);
          background: -ms-linear-gradient(left, rgba(77, 209, 148, 0) 0%, #fd6720 100%);
          background: linear-gradient(to right, rgba(77, 209, 148, 0) 0%, #fd6720 100%);
        }
      }

      .steps-btn.step-nodeal + .steps-btn.step-nodeal {
        &:after {
          background: -moz-linear-gradient(left, rgba(216, 216, 216, 0) 0%, rgba(216, 216, 216, 1) 100%);
          background: -webkit-gradient(linear, top left, top right, color-stop(0%, rgba(216, 216, 216, 0)), color-stop(100%, rgba(216, 216, 216, 1)));
          background: -webkit-linear-gradient(left, rgba(216, 216, 216, 0) 0%, rgba(216, 216, 216, 1) 100%);
          background: -o-linear-gradient(left, rgba(216, 216, 216, 0) 0%, rgba(216, 216, 216, 1) 100%);
          background: -ms-linear-gradient(left, rgba(216, 216, 216, 0) 0%, rgba(216, 216, 216, 1) 100%);
          background: linear-gradient(to right, rgba(216, 216, 216, 0) 0%, rgba(216, 216, 216, 1) 100%);
        }
      }

      .step-nodeal {
        background: url("~@/assets/images/proj-manager/step-nofinish.png") center center no-repeat;
        background-size: contain;

        .text {
          color: rgba(0, 0, 0, .65);
        }

        .order {
          color: #cccccc;
        }
      }

      .step-noactive {
        background: url("~@/assets/images/proj-manager/step-finish.png") center center no-repeat;
        background-size: contain;

        .text {
          color: rgba(0, 0, 0, .85);
        }
      }

      .steps-btn:nth-child(1) {
        background: url("~@/assets/images/proj-manager/step-finish.png") center center no-repeat;
        background-size: contain !important;
      }

      .step-active, .steps-btn:nth-child(1).step-active {
        transform: scale(1.2);
        background: url("~@/assets/images/proj-manager/step-conduct.png") center center no-repeat;
        background-size: contain;

        .text {
          color: #FD6720;
        }
      }

      /*.steps-btn:last-of-type {*/
      /*    background: url("../../../assets/images/proj-manager/9.png") center center no-repeat !important;*/
      /*    background-size: cover !important;*/
      /*    !*background-color: #000 !important;*!*/
      /*}*/
    }

    .detail-box {
      padding: 24px 37px 40px 30px;
      border-radius: 20px;
      background: #fff;
      box-shadow: 0px 5px 19px 2px rgba(0, 22, 42, 0.07);

      .d-box-card {
        box-shadow: none;

        .card-header-groudBtn {
          //   width: calc(100% - 200px);
          float: right;

          .btn-box {
            margin-top: 0px;

            .el-button {
              &.spe-diasible.is-disabled span {
                color: rgba(0, 0, 0, .2);
              }

              &.spe-diasible.is-disabled {
                background: rgb(226, 229, 235, .8) !important;
                border: 0 !important;
              }
            }
          }
        }

        .el-card__header {
          background: #F9FAFC;
          border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
          line-height: 42px;
          padding: 6.5px 20px;
        }

        .card-header-name {
          color: #FD6720;
          font-size: 18PX;
          font-weight: bold;
          padding-left: 15px;
          position: relative;

          &::before {
            content: '';
            width: 6px;
            height: 24px;
            background: #FD6720;
            box-shadow: 1px 1px 5px 1px rgba(199, 135, 47, 0.2);
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        .info-list {
          li {
            margin: 12px 0;

            p:nth-child(1) {
              width: auto;
              color: rgba(0, 0, 0, .85);
            }

            p:nth-child(2) {
              margin-left: 4px;
              vertical-align: top;
              color: rgba(0, 0, 0, .65);
            }
          }
        }
      }

    }
  }
}
// 经典风格
.dark {
  .work-detial {
    // 按钮主题
    .el-button {
      height: 32px;
      border: 0px;

      &.el-button--primary {
        color: #fff;
        background: linear-gradient(90deg, #bac4d4, #d6dce6);

        &:focus, &:hover, &:active {
          color: #fff;
          background: linear-gradient(90deg, #e2b370, #eecc9f);
        }
      }

      &.is-disabled {
        color: rgba(0, 0, 0, .2);
        background: rgb(226, 229, 235, .8);

        &:focus, &:hover, &:active {
          color: rgba(0, 0, 0, .2);
          background: rgb(226, 229, 235, .8);
        }
      }

    }

    // 面包屑
    .header-crumb {
      color: #fff;

      .el-breadcrumb__inner.is-link {
        color: #fff;
      }

      .el-breadcrumb__item:last-child .el-breadcrumb__inner.is-link {
        color: #FFC776;
      }
      .el-breadcrumb__inner.is-link:hover {
        color: #FFC776 !important;
      }
    }

    .detail-translate-box {
      .step-box {

        .step-noactive {
          background: url("~@/assets/images/proj-manager/step-finish-dark.png") center center no-repeat;
          background-size: contain;

          .text {
            color: rgba(0, 0, 0, .85);
          }
        }

        .steps-btn:nth-child(1) {
          background: url("~@/assets/images/proj-manager/step-finish-dark.png") center center no-repeat;
          background-size: contain !important;
        }

        .step-active, .steps-btn:nth-child(1).step-active {
          transform: scale(1.2);
          background: url("~@/assets/images/proj-manager/step-conduct-dark.png") center center no-repeat;
          background-size: contain;

          .text {
            color: #C7872F;
          }
        }

        .steps-btn + .steps-btn {
          margin-left: 90px;

          &:after {
            position: absolute;
            left: -112px;
            top: 50%;
            margin-top: -1px;
            content: '';
            width: 136px;
            height: 2px;
            border-radius: 1px;
            /*background-image: linear-gradient(90deg,rgba(77,209,148,0),#4dd194) 20 20;*/
            background: -moz-linear-gradient(left, rgba(77, 209, 148, 0) 0%, #e7ba79 100%);
            background: -webkit-gradient(linear, top left, top right, color-stop(0%, rgba(77, 209, 148, 0)), color-stop(100%, #e7ba79));
            background: -webkit-linear-gradient(left, rgba(77, 209, 148, 0) 0%, #e7ba79 100%);
            background: -o-linear-gradient(left, rgba(77, 209, 148, 0) 0%, #e7ba79 100%);
            background: -ms-linear-gradient(left, rgba(77, 209, 148, 0) 0%, #e7ba79 100%);
            background: linear-gradient(to right, rgba(77, 209, 148, 0) 0%, #e7ba79 100%);
          }
        }
      }

      .detail-box {
        padding: 24px 37px 40px 30px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 5px 19px 2px rgba(0, 22, 42, 0.07);

        .d-box-card {
          box-shadow: none;

          .card-header-name {
            color: #C7872F;
            font-size: 18PX;
            font-weight: bold;
            padding-left: 15px;
            position: relative;

            &::before {
              content: '';
              width: 6px;
              height: 24px;
              background: linear-gradient(0deg, #EECC9F, #C7872F);
              box-shadow: 1px 1px 5px 1px rgba(199, 135, 47, 0.2);
              border-radius: 3px;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
}

// 经典蓝色
.dark-blue{
  .work-detial {
    // 按钮主题
    .el-button {
      height: 32px;
      border: 0px;

      &.el-button--primary {
        color: #fff;
        background: linear-gradient(90deg, #bac4d4, #d6dce6);

        &:focus, &:hover, &:active {
          color: #fff;
          background: linear-gradient(90deg, #3ACB7B, #24C1E8, #2485E8);
        }
      }
    .header-bg {
        .com-page-header {
          height: 277px;
          background: url("~@/assets/images/proj-manager/workbg-blue.png") no-repeat center/cover;
        }
      }
      &.is-disabled {
        color: rgba(0, 0, 0, .2);
        background: rgb(226, 229, 235, .8);

        &:focus, &:hover, &:active {
          color: rgba(0, 0, 0, .2);
          background: rgb(226, 229, 235, .8);
        }
      }

    }

    // 面包屑
    .header-crumb {
      color: #fff;

      .el-breadcrumb__inner.is-link {
        color: #fff;
      }

      .el-breadcrumb__item:last-child .el-breadcrumb__inner.is-link {
        color: #409EFF;
      }
      .el-breadcrumb__inner.is-link:hover {
        color: #409EFF !important;
      }
    }

    .detail-translate-box {
      .step-box {

        .step-noactive {
          background: url("~@/assets/images/proj-manager/blue.png") center center no-repeat;
          background-size: contain;

          .text {
            color: rgba(0, 0, 0, .85);
          }
        }

        .steps-btn:nth-child(1) {
          background: url("~@/assets/images/proj-manager/blue.png") center center no-repeat;
          background-size: contain !important;
        }

        .step-active, .steps-btn:nth-child(1).step-active {
          transform: scale(1.2);
          background: url("~@/assets/images/proj-manager/active-blue.png") center center no-repeat;
          background-size: contain;

          .text {
            color: #0085FE;
          }
        }

        .steps-btn + .steps-btn {
          margin-left: 90px;

          &:after {
            position: absolute;
            left: -112px;
            top: 50%;
            margin-top: -1px;
            content: '';
            width: 136px;
            height: 2px;
            border-radius: 1px;
            /*background-image: linear-gradient(90deg,rgba(77,209,148,0),#4dd194) 20 20;*/
            background: -moz-linear-gradient(left, rgba(77, 209, 148, 0) 0%, #0085FE 100%);
            background: -webkit-gradient(linear, top left, top right, color-stop(0%, rgba(77, 209, 148, 0)), color-stop(100%, #0085FE));
            background: -webkit-linear-gradient(left, rgba(77, 209, 148, 0) 0%, #0085FE 100%);
            background: -o-linear-gradient(left, rgba(77, 209, 148, 0) 0%, #0085FE 100%);
            background: -ms-linear-gradient(left, rgba(77, 209, 148, 0) 0%, #0085FE 100%);
            background: linear-gradient(to right, rgba(77, 209, 148, 0) 0%, #0085FE 100%);
          }
        }
      }

      .detail-box {
        padding: 24px 37px 40px 30px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 5px 19px 2px rgba(0, 22, 42, 0.07);

        .d-box-card {
          box-shadow: none;

          .card-header-name {
            color: #0085FE;
            font-size: 18PX;
            font-weight: bold;
            padding-left: 15px;
            position: relative;

            &::before {
              content: '';
              width: 6px;
              height: 24px;
              background: #0084FF;
              box-shadow: 1px 1px 5px 1px rgba(0, 132, 255, 0.2);
              border-radius: 3px;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
}

// 简洁红色
.dark-red,.wight-red{
   .work-detial {
    .process .btn-box .el-button.is-disabled{
      background: rgba(226, 229, 235) !important;
      border: 0 !important;
      color: rgba(0, 0, 0, 0.2);
      &:focus, &:hover, &:active {
        color: rgba(0, 0, 0, 0.2);
        // background: linear-gradient(90deg, #FF5A3D, #FF2F62);
      }
    }
     .process .el-button {
      height: 32px;
      border: 0px;

      &.el-button--primary {
        color: #fff;
        // background: linear-gradient(90deg, #bac4d4, #d6dce6);
        // background: linear-gradient(90deg, 	#4169E1,#87CEFA);
        background: linear-gradient(90deg, #FF5A3D, #FF2F62);
        &:focus, &:hover, &:active {
          color: #fff;
          background: linear-gradient(90deg, #FF5A3D, #FF2F62);
        }
      }
    }
    // 按钮主题
    .el-button {
      height: 32px;
      border: 0px;

      &.el-button--primary {
        color: #fff;
        background: linear-gradient(90deg, #bac4d4, #d6dce6);
        // background: linear-gradient(90deg, 	#4169E1,#87CEFA);
        &:focus, &:hover, &:active {
          color: #fff;
          background: linear-gradient(90deg, #FF5A3D, #FF2F62);
        }
      }
    .header-bg {
        .com-page-header {
          height: 277px;
          background: url("~@/assets/images/proj-manager/workbg-red.png") no-repeat center/cover;
        }
      }
      &.is-disabled {
        color: rgba(0, 0, 0, .2);
        background: rgb(226, 229, 235, .8);

        &:focus, &:hover, &:active {
          color: rgba(0, 0, 0, .2);
          background: rgb(226, 229, 235, .8);
        }
      }

    }

    // 面包屑
    .header-crumb {
      color: #fff;

      .el-breadcrumb__inner.is-link {
        color: #fff;
      }

      .el-breadcrumb__item:last-child .el-breadcrumb__inner.is-link {
        color:#EE5151;
      }
      .el-breadcrumb__inner.is-link:hover {
        color: #EE5151 !important;
      }
    }

    .detail-translate-box {
      .step-box {

        .step-noactive {
          background: url("~@/assets/images/proj-manager/red-finish.png") center center no-repeat;
          background-size: contain;

          .text {
            color: rgba(0, 0, 0, .85);
          }
        }

        .steps-btn:nth-child(1) {
          background: url("~@/assets/images/proj-manager/red-finish.png") center center no-repeat;
          background-size: contain !important;
        }

        .step-active, .steps-btn:nth-child(1).step-active {
          transform: scale(1.2);
          background: url("~@/assets/images/proj-manager/red-active.png") center center no-repeat;
          background-size: contain;

          .text {
            color: rgba(255, 71, 77, 1);
          }
        }
        .step-nodeal {
          background: url("~@/assets/images/proj-manager/red-nofinish.png") center center no-repeat;
          background-size: contain;
        }

        .steps-btn + .steps-btn {
          margin-left: 90px;

          &:after {
            position: absolute;
            left: -112px;
            top: 50%;
            margin-top: -1px;
            content: '';
            width: 136px;
            height: 2px;
            border-radius: 1px;
            /*background-image: linear-gradient(90deg,rgba(77,209,148,0),#4dd194) 20 20;*/
            background: -moz-linear-gradient(left, rgba(77, 209, 148, 0) 0%, rgba(240, 80, 80, 1) 100%);
            background: -webkit-gradient(linear, top left, top right, color-stop(0%, rgba(77, 209, 148, 0)), color-stop(100%, rgba(240, 80, 80, 1)));
            background: -webkit-linear-gradient(left, rgba(77, 209, 148, 0) 0%, rgba(240, 80, 80, 1) 100%);
            background: -o-linear-gradient(left, rgba(77, 209, 148, 0) 0%,rgba(240, 80, 80, 1) 100%);
            background: -ms-linear-gradient(left, rgba(77, 209, 148, 0) 0%, rgba(240, 80, 80, 1) 100%);
            background: linear-gradient(to right, rgba(77, 209, 148, 0) 0%, rgba(240, 80, 80, 1) 100%);
          }
        }
      }

      .detail-box {
        padding: 24px 37px 40px 30px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 5px 19px 2px rgba(0, 22, 42, 0.07);

        .d-box-card {
          box-shadow: none;

          .card-header-name {
            color: rgba(240, 80, 80, 1);
            font-size: 18PX;
            font-weight: bold;
            padding-left: 15px;
            position: relative;

            &::before {
              content: '';
              width: 6px;
              height: 24px;
              background: linear-gradient(180deg, #FF5A3D, #FF2F62);
              box-shadow: 0px 2px 14px 2px rgba(255, 68, 80, 0.2);
              border-radius: 3px;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
}