
/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .3s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
/* fade-comp */
.fade-comp-leave-active,
.fade-comp-enter-active {
  transition: all .3s;
}

.fade-comp-enter {
  opacity: 0;
  transform: translateY(30px);
}

.fade-comp-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

/* fade */
//.fade-comp-enter-active,
//.fade-comp-leave-active {
//  transition: opacity 0.28s;
//}
//
//.fade-comp-enter,
//.fade-comp-leave-active {
//  opacity: 0;
//}