::v-deep .el-form-item__content .el-input__inner {
  /*width: 180px;*/
}
::v-deep .el-dialog {
  width: 60%;
}
.el-dialog ::v-deep .el-table__body-wrapper::-webkit-scrollbar {
  //color: #000;
  background: #f1f1f1;
  margin: auto;
  border: none;
  border-radius: 0px;
}
.el-dialog .el-table--scrollable-x ::v-deep .el-table__body-wrapper::-webkit-scrollbar {
  height: 8PX;/*no*/
  background: #f1f1f1;
  //width: 100%;
}
.el-dialog .el-table--scrollable-y ::v-deep .el-table__body-wrapper::-webkit-scrollbar {
  width: 8PX;/*no*/
  background: #f1f1f1;
  //height: 100%;
}
.el-dialog .el-table--scrollable-x ::v-deep .el-table__body-wrapper::-webkit-scrollbar-thumb {
  height: 8PX;/*no*/
  background: #D1D1D1;
  border-radius: 8px;
  //width: 100%;
}
.el-dialog .el-table--scrollable-y ::v-deep .el-table__body-wrapper::-webkit-scrollbar-thumb {
  width: 8PX;/*no*/
  background: #D1D1D1;
  border-radius: 8px;
  //height: 100%;
}
