/* 改变主题色变量 */
$--color-primary: #144fba;

/// color|1|Font Color|2
$--color-text-primary: #303133 !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

.default-color {
  background-color: #ccc;
}
.red-color {
  background-color: red;
}
.blue-color {
  background-color: blue;
}
.green-color {
  background-color: green;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 重置 card */
.cus-main-card {
  &.el-card {
    border: 0;
    border-radius: 12px;
    padding: 0 15px 15px;
    .el-card__header {
      padding: 0 15px;
    }
  }
}
.cus-card {
  &.el-card {
    border: 0;
    min-height: 100%;
    border-radius: 12px;
    .el-card__header {
      padding: 18px 24px;
      border-bottom: none;
    }
    .card-header {
      display: flex;
      align-items: center;
      & > span {
        font-size: 18px;
        font-weight: bold;
        color: $--color-primary;
        line-height: 24px;
        padding-left: 10px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          width: 4px;
          left: 0;
          top: 0;
          height: 24px;
          background: linear-gradient(
            180deg,
            #1a58ca 0%,
            rgba(45, 107, 211, 0.84) 36%,
            rgba(144, 201, 255, 0) 100%
          );
          border-radius: 2px;
        }
      }
    }
    .card-header-button {
      margin-left: auto;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.45);
      .el-icon-arrow-right {
        color: $--color-primary;
      }
    }
  }
}

/* tabs-group 样式 */
.tab-groups {
  display: flex;
  height: 36px;
  background-color: rgba(20, 79, 186, 0.05);
  border-radius: 4px;
  .tab-item {
    min-width: 110px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #144fba;
    cursor: pointer;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 5%;
      width: 1px;
      height: 10px;
      top: 50%;
      background-color: #144fba;
      transform: translateY(-50%) scaleX(0.5);
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    &.tab-item__first {
      -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &.tab-item__center {
      -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
      clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    }
    &.tab-item__last {
      -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &.active {
      background-color: #144fba;
      color: #ffffff;
    }
    img {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
  }
}

/* tools-group样式 */
.tools-group {
  margin-left: auto;
  display: flex;
  align-items: center;
  .el-button--text {
    span {
      font-size: 14px;
      display: flex;
      align-items: center;
    }
  }
  .i-filter {
    width: 16px;
    height: 16px;
    background-size: 16px;
    margin-right: 5px;
  }
}

/* 自定义el-table */
.cus-table {
  th {
    background-color: #e4e8f2;
    height: 48px;
    color: #000000;
  }
  .el-table__header-wrapper {
    th {
      background-color: #e4e8f2;
      padding: 12px 0;
      .cell {
        font-size: 14px !important;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.85);
      }
    }
  }
  .el-table__row {
    td {
      padding: 12px 0;
      .cell {
        font-size: 14px !important;
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }
}
.cus-table-pagination {
  margin-top: 24px;
}

.router-link {
  margin-left: 8px;
  color: $--color-primary;
  &:hover,
  &:active {
    color: $--color-primary;
  }
  &:first-child {
    margin-left: 0;
  }
}

/* 自定义drawer */
.cus-drawer {
  .el-drawer__header {
    padding: 15px 20px;
    background: #f9fafc;
    border-bottom: 1px solid #f9fafc;
    margin-bottom: 0;
  }
  .cus-drawer-header {
    display: flex;
    align-items: center;
    .i-filter {
      width: 20px;
      height: 20px;
      background-size: 20px;
      margin-right: 5px;
    }
    .title {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.85);
    }
    .el-button {
      padding: 0;
      margin-left: auto;
    }
  }
  .cus-drawer-body {
    padding: 2.4rem 2rem;
  }
  .cus-drawer-footer {
    margin-top: 30px;
    text-align: center;
  }
}

/* 重置 dialog */
.cus-dialog {
  border-radius: 8px;
  .el-dialog__header {
    padding: 14px 18px;
    background: #f9fafc;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
    .el-dialog__title {
      font-size: 15px;
      color: $--color-primary;
      font-weight: bold;
      padding-left: 12px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
        background: linear-gradient(
          180deg,
          #144fba 0%,
          rgba(20, 79, 186, 0.68) 41%,
          rgba(20, 79, 186, 0) 100%
        );
        border-radius: 2px;
      }
    }
    .el-dialog__headerbtn {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .el-dialog__footer {
    text-align: center;
  }
}
